.App {
  margin: 0px;
  padding: 0px;
}

.header-nav {
  padding: 5px;
  background-color: skyblue;
  width: auto;
  height: auto;
}
.header-nav ul {
  padding: 0px;
}
.header-nav li {
  padding: 0px 10px;
  display: inline-block;
}
.header-nav li a {
  text-decoration: none;
  color: azure;
  justify-content: center;
  align-items: center;
}
p {
  font-size: large;
  font-weight: bold;
  /* width: 200px; */
  padding: 20px;
}
input {
  margin: 20px 0px;
  padding: 10px;
  width: 300px;
}
.products_list {
  justify-content: center;
  align-items: center;
  text-align: center;
}
table {
  border-spacing: 0;
}
.products_list  tr{
 
  justify-content: center;
  align-items: center;

}
.products_list td {
  
    text-align: center;
    width: 100px;
    margin: 0px;
    padding: 15px;
    border: 0.5px solid skyblue;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: p-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
